<!DOCTYPE html>
<html lang="en">
<head>
	<title>Sentiment</title>
	<link rel="stylesheet" href="{{url_for('static',filename="styles/main.css")}}">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-b-160 p-t-50">
				<form class="login100-form validate-form" method="post" action="/return">
					<span class="login100-form-title p-b-43">
						SENTIMENT ANALYSER
					</span>
					
					<div class="wrap-input100 rs1 validate-input" data-validate = "TWEET IS REQUIRED">
						<textarea class="textarea" name="tweet" cols="68" rows="99"></textarea>
						
					</div>
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							CHECK
						</button>
					</div>
					<div class="image">
						<img src="{{url_for('static',filename='images/good.png')}}">
						<image src="{{url_for('static',filename='images/bad.png')}}">
					</div>
				</form>

			</div>
		</div>
		<div class="info" >
			<span class="login100-form-title p-b-43 home">
						SENTIMENT analysis using twitter database
			</span>
			....................................................................................................................<br>
			....................................................................................................................<br>
			.............................................................................................................<br>
			.............................................................................................................<br>
			.............................................................................................................<br>
			.............................................................................................................<br>
			
			<h3>Algo's used</h3>
			<br>
			<div class="algo">
				<div class="first f1">
					<label class="a1 a">aaaaa<br> bbbbb<br>cccc dddd</label>
					
				</div>
				<div class="first f2">

					<label class="a1 b">aaa<br> bbbbb cccc <br>dddd<br>...........................................................<br></label>
					...........................................................<br>
				</div>
				<div class="first f3">
					
					<label class="a1 c">aa<br> bbbbb <br>cccc<br> dddd</label>
				</div>
			</div>
		</div>
	</div>
	
	

	
	
<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>