<html>
   <head>
      <link rel="stylesheet" href="{{url_for('static',filename="styles/user.css")}}">
       <script>
function required()
{
    var empt = document.form1.user.value;
    var x=document.form1.tweet_no.value;
    if (empt === "")
    {
        alert("Account Name can't be EMPTY");
        document.form1.user.focus();
        return false;
    }
    
    if(isNaN(x)||x==="")
    {
        alert("No of Tweets can't be EMPTY");
        document.form1.tweet_no.focus();
        return false;
    }
    
}
</script>

<script>
function graph() {

document.getElementById("demo1").innerHTML="LAST "+ {{dset|length}} + " TWEETS ANALYSIS";

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	title: {
    	padding: 10,
		text: "Accuracy Analysis"
	},
	axisX: {
    	
		minimum: 0,
		maximum: {{dset|length+2}},
		title:"TWEET NUMBER"
	},
	axisY: {
    	title:"MODEL ACCURACY",
		minimum: 0,
		maximum: 120
	},
	legend: {
		verticalAlign: "top",
		horizontalAlign: "right",
		dockInsidePlotArea: true
	},
	toolTip: {
		shared: true
	},
	data: [{
		name: "LOGISTIC",
		showInLegend: true,
		legendMarkerType: "square",
		type: "area",
		color: "rgba(255,121,0,0.53)",
		markerSize: 0,
		dataPoints: [
		{% for i in range(dset|length)%}
			{ x: {{i+1}}, y: {{dset["log_reg"][i]}} },
		{% endfor %}	
			
		]
	},
	{
		name: "NAIVE",
		showInLegend: true,
		legendMarkerType: "square",
		type: "area",
		color: "rgba(1,94,1,0.3)",
		markerSize: 0,
		dataPoints: [
		{% for i in range(dset|length)%}
			{ x: {{i+1}}, y: {{dset["naive"][i]}} },
		{% endfor %}	
			
		]
	},
  {
		name: "SVM",
		showInLegend: true,
		legendMarkerType: "square",
		type: "area",
		color: "rgba(42,1,94,0.33)",
		markerSize: 0,
		dataPoints: [
		{% for i in range(dset|length)%}
			{ x: {{i+1}}, y: {{dset["svm"][i]}} },
		{% endfor %}	
			
		]
	}]
});

chart.render();


document.getElementById("demo").innerHTML = "Variation in Accuracy on every Tweet of different Models";

}

</script>

<script>
function graph2(l_neg,n_neg,s_neg,l_pos,n_pos,s_pos) {

var chart = new CanvasJS.Chart("chartContainer1", {
	animationEnabled: true,
	theme: "light2", //"light1", "dark1", "dark2"
	title:{
		text: "Division of Positive and Negative Tweets"             
	},
	axisY:{
		interval: 2,
		
	},
	toolTip:{
		shared: true
	},
	data:[{
		type: "stackedBar",
		showInLegend: true, 
		name: "Negative",
		dataPoints: [
			{ y: l_neg, label: "Logistic Regression" },
			{ y: n_neg, label: "Naive Bayes" },
			{ y: s_neg, label: "SVM" },
			
		]
		},
		{
			type: "stackedBar",
			
			showInLegend: true, 
			name: "Positive",
			dataPoints: [
				{ y: l_pos, label: "Logistic Regression" },
				{ y: n_pos, label: "Naive Bayes" },
				{ y: s_pos, label: "SVM" },
				]
		}]
});
chart.render();
document.getElementById("demo2").innerHTML = "Variation of Number of Positive/Negative Tweets on different Models";

}
</script>

   </head>
   <body>
      <div class="title">
         <div class = "title_name">
            <h1>SENTIMENT ANALYSIS </h1>
         </div>
      </div>
      <div class="topnav">
         <a class="active" href="/">Home</a>
         <a href="/analyser">Analyser</a>
         <a href="/project">Project</a>
         <a href="/user">User</a>
         
      </div>
      <div class="mainBlock">
        <div class="label" >
          <h1>User's Tweets Analysis  </h1>
          </div>
      <div class="box">
     
         <form action="/user_result" method="post" onsubmit="return required()" name="form1">
            <div class="row">
               <div class="col-25">
                  <label class="tooltip" for=" fname">Account Name<span class="tooltiptext">Twitter User Name Ex. @twitter</span></label>
                 
               </div>
                
               <div class="col-75">
                  <input type="text" id="fname" name="user" placeholder="Enter the user Name" autocomplete="off">
               </div>
            </div>
            <div class="row">
               <div class="col-25">
                  <label class="tooltip" for="lname">No of Tweets <span class="tooltiptext">Number of Tweets to Analyse</span></label>
               </div>
               <div class="col-75">
                  <input type="number" min="1" name="tweet_no" max="100" placeholder="00">
               </div>
            </div>
            <div class="button">
               <input type="submit" value="SEARCH" class="sub"></input>
            </div>
      
      </form>
   
      </div>
     {% if table==True%}
     <div class="user_name">
       <label style=" border-bottom:2px solid white;">{{account_name.upper()}}</label>
     </div>
      
      <div class="tweets_analysis">
         <table>
            <tr>
                <th> Sr.No.</th>
               <th style="width:800px">TWEETS</th>
               <th> SENTIMENT</th>
               <th>LOGISTIC RGRESSION</th>
               <th>NAIVE BAYES</th>
               <th>LINEAR SVM</th>
            </tr>
            {% for i in range((dset|length)) %}
            <tr>
                <td style="text-align:center">{{i+1}}</td>
               <td>{{dset["Tweets"][i]}}</td>
               
               {% if (dset["AVG_Sentiment"][i]=="Positive") %} 
               <td style="text-align:center;background:green;color:white;"><b>{{dset["AVG_Sentiment"][i]}}</b></td>
               {%else%}
               <td style="text-align:center;background:red;color:white;"><b>{{dset["AVG_Sentiment"][i]}}</b></td>
               
               {% endif%}
               
               <td style="text-align:center">{{dset["log_reg"][i]}}</td>
               <td style="text-align:center">{{dset["naive"][i]}}</td>
               <td style="text-align:center">{{dset["svm"][i]}}</td>
            </tr>
            {% endfor %}
         </table>
      </div>
      {% endif %}
      
    
 <div class="graph">       
 {% if table==True%}
<label style="border-bottom:3px solid white">Analysis Of The Above Data</label>
  <br>
<button class="slide_from_bottom" onclick="graph();graph2({{dset["log_current"].value_counts()[0]}},{{dset["naive_current"].value_counts()[0]}},{{dset["svm_current"].value_counts()[0]}},{{dset["log_current"].value_counts()[4]}},{{dset["naive_current"].value_counts()[4]}},{{dset["svm_current"].value_counts()[4]}})">Click</button>
{% endif %}
<p id="demo1"></p>
<p id="demo"></p>
<div id="chartContainer" style="height: 450px; width: 80%; margin:auto;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    
<p id="demo2"></p>  
<div id="chartContainer1" style="height: 370px; width: 80%; margin:auto;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
 
 </div>
 
    
   </body>
</html>