
#.label_box{
  background-color:blue;
  border:5px solid green;
}
.label{
 # background-color:blue;
  border-top: 20px solid white;
  text-align: center;
  
  padding-top:1px;
  color :BLACK;
 }
.text_area{
  
  border:1px solid black;
display: flex;
justify-content: center;
  width:900px;
  margin:auto
}

textarea::placeholder {
  color: black;
  font-size: 1.8em;
  font-style: italic;
  
}

/*===========radio button============
/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  padding-top:10px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width:865px;
  margin:auto;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  
  position: absolute;
  top: 10px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color:gray;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: black;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
/*=================radio button=================*/
.button{
  
  display: block;
  width:1000px;
  margin:auto;
  margin-top:20px;
  border: none;
  background-color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  color:white;
  
  border:5px solid white;
  border-radius: 25px;
}
 

.title {
 background-color: black;
}
.title_name{
  text-align: center;
  border-bottom: 3px solid white;
  padding-top:1px;
  color :white;
  
/*==============navigation bar==========*/  
}
.topnav {
  background-color: black;
  overflow: hidden;
  #border-bottom: 3px solid ;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 6px 10px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: white;
  color: black;
}

/* Add an active class to highlight the current page */
#.topnav a.active {
  background-color: black;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/*==============navigation bar==========*/  
.model_box {
 width: calc((100% - 300px)/3); /* calc because of the padding */
  padding:15px 50px;
  height: 200px;
  margin:auto;
  float: left;
  display: block;
  margin-bottom:60px;
}
.box{
padding-top:30px;
}
.models{
  background-color:black;
  border:3px solid white;
  border-radius:25px;
  height:200px
}
.model_title{
  background-color:black;
  text-align: center;
  padding-top:5px;
  color :white;
}
.records{
  
  padding-right:5px;
  background-color:white;
  height:150px;
  border:2px solid black;
  text-align: center;
  
}
.sentiment_title{
  text-align: left;
  padding-top:5px;
  color :Black;
  border-bottom:2px solid ;
  margin-bottom: 30px;
}
.positive{
  text-align: center;
  padding-top:5px;
  color :white;
  background-color:green;
  border:2px solid ;
  border-radius:25px;
  
  width:500px;
  margin: auto;
  margin-bottom: 30px;
  
}

.negative{
  text-align: center;
  padding-top:5px;
  color :white;
  background-color:RED;
  border:2px solid ;
  border-radius:25px;
  width:500px;
  margin: auto;
 
}

.tweet{
text-align: center;
  color :black;
  margin: auto;
  margin-bottom:50px;
  font-size:30px;
}

.mname{
text-align: left;
  padding-top:5px;
  color :blue;
  border-bottom:2px solid ;
  widht:30px;
}
