
.heading{
  text-align: center;
  padding-top:1px;
  color :White;
 
  font-family: arial;
  font-size:65px;
  line-height:170%;
  align-items:center;
  
} 

.title {
 background-color: black;
}
.title_name{
  text-align: center;
font-size:25px;
  border-bottom: 3px solid white;
  padding-top:1px;
  color :white;
  
/*==============navigation bar==========*/  
}
.topnav {
  background-color: black;
  overflow: hidden;
  #border-bottom: 3px solid ;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 6px 10px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: white;
  color: black;
}

/* Add an active class to highlight the current page */
#.topnav a.active {
  background-color: black;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

image {
  max-width: 100%;
  height: auto;
}

.text{
  font-size:25px
  width:500px;
  margin: auto;
}
.mainBlock{
  background-color:#0fa3f3
;
 
}
img {
  display: block;
 
  width:1200px;
  height:680px;
  margin-left: auto;
  margin-right: auto;
}
.title_name.about{
border-bottom: 0px;
text-align: left;
padding-top:10px;
margin:10px;
padding-bottom:20px; 
font-size:30px;
}
.title_name.about.one
{
  margin-left:300px;
  text-align: left;
  padding-bottom:20px; 
}
.title_name.prj{
  border-bottom: 0px;
  padding-top:1px;
  
}
.box{
  margin:auto;
  margin-left:30px;
  margin-right:30px;
}

.image{
  margin-top:10px;
  display: block;
  width:100%;
  height:;
  border:5px solid black;
}


.title.footer{
  margin-top:20px;
 
  
}
table,tr{
  color:white;
}
